@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');
.container{
   
    position: relative;
    width: fit-content;
    display: flex;
    gap: 10px;
    font-family: "SUSE", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  padding: 15px;
  background: rgba(141, 141, 141, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}
.bg-image{
    filter: blur(60px);
    -webkit-filter: blur(60px);
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 100px;
    height: 100px;
    background: blueviolet;
    z-index: -1;
}
.card{
    color: white;
    display: flex;
    flex-direction: column;
}
img{
    border-radius: 10px;
}
